/* Header content */
.header {

display: grid;
grid-template-columns: 1fr min-content 1fr;
align-items: center;
padding: 92px 50px 96px 50px;
font-size: 18px;
}

.header__menu {
  list-style: circle;
  display: flex;
  gap: 33px;
}

.main_link {
  list-style-type: none;
}

.list-link {
  text-decoration: none;
}

.logo {
  width: 148px;
  height: 105px;
}

.header__address {
  line-height: 24.3px;
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  padding-right: 35px;
}

.address__item {
  text-decoration: none;
  font-style: normal;
}

.underline_link {
  text-decoration: underline;
}

/* Cover content */
.cover {

}

/* Lots content */
.lots {

}

/* About content */
.about {

}

/* Footer content */
.footer {

}

